<?xml version="1.0"?>
<config>
  <modules>
    <Nordweb_FrontSystems>
      <version>0.1.0</version>
    </Nordweb_FrontSystems>
  </modules>
  <frontend>
    <routers>
      <frontSystems>
        <use>standard</use>
        <args>
          <module>Nordweb_FrontSystems</module>
          <frontName>frontSystems</frontName>
        </args>
      </frontSystems>
    </routers>
  </frontend>
  <global>
    <helpers>
      <frontSystems>
        <class>Nordweb_FrontSystems_Helper</class>
      </frontSystems>
    </helpers>
    <models>
      <frontSystems>
        <class>Nordweb_FrontSystems_Model</class>
      </frontSystems>
    </models>
    <events>
      <sales_order_place_after>
        <observers>
          <nordweb_frontsystems_observer>
            <type>singleton</type>
            <class>Nordweb_FrontSystems_Model_SomeModel</class>
            <method>callFromMagentoWhenSale</method>
          </nordweb_frontsystems_observer>
        </observers>
      </sales_order_place_after>

    </events>
  </global>

 

</config>