<?xml version="1.0"?>
<config>
    <modules>
        <Extendware_EWSpamProtection>
            <version>1.2.2</version>
            <extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewspamprotection/adminhtml_config/index</configure_url>
            </extendware>
        </Extendware_EWSpamProtection>
    </modules>
    <admin>
        <routers>
			<extendware_ewspamprotection>
				<use>admin</use>
				<args>
					<module>Extendware_EWSpamProtection</module>
					<frontName>extendware_ewspamprotection</frontName>
				</args>
			</extendware_ewspamprotection>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWSpamProtection>
					<files>
						<default>extendware/Extendware_EWSpamProtection.csv</default>
					</files>
				</Extendware_EWSpamProtection>
			</modules>
		</translate>
		<layout></layout>
		<routers></routers>
	</adminhtml>
    <frontend>
    	<translate>
			<modules>
				<Extendware_EWSpamProtection>
					<files>
						<default>extendware/Extendware_EWSpamProtection.csv</default>
					</files>
				</Extendware_EWSpamProtection>
			</modules>
		</translate>
    	<layout>
			<updates>
				<ewspamprotection>
					<file>extendware/ewspamprotection.xml</file>
				</ewspamprotection>
			</updates>
		</layout>
        <routers>
            <ewspamprotection>
                <use>standard</use>
                <args>
                    <module>Extendware_EWSpamProtection</module>
                    <frontName>ewspamprotection</frontName>
                </args>
            </ewspamprotection>
        </routers>
    </frontend>
    <global>
    	<models>
            <ewspamprotection>
                <class>Extendware_EWSpamProtection_Model</class>
            </ewspamprotection>
        </models>
        <blocks>
			<ewspamprotection>
                <class>Extendware_EWSpamProtection_Block</class>
            </ewspamprotection>
		</blocks>
        <helpers>
            <ewspamprotection>
                <class>Extendware_EWSpamProtection_Helper</class>
            </ewspamprotection>
        </helpers>
        <resources></resources>
		<events></events>
		<template></template>
    </global>
    <input></input>
	<crontab></crontab>
    <default>
        <ewspamprotection>
            <general>
            	<enabled>0</enabled>
            	<provider>recaptcha</provider>
                <public_key><![CDATA[6Lfvh8cSAAAAAF73ee3-BpAii9pe5Fx7hR54Vkgq]]></public_key>
                <private_key><![CDATA[6Lfvh8cSAAAAAHl6jIexaeG8S8l39BotHWIUcpUX]]></private_key>
                <language>en</language>
                <num_unlocked_actions>0</num_unlocked_actions>
                <fallback_enabled>1</fallback_enabled>
            </general>
            <contact_us>
                <guest_enabled>1</guest_enabled>
                <customer_enabled>0</customer_enabled>
                <template_enabled>1</template_enabled>
                <theme>magento_standard</theme>
                <info_message><![CDATA[<b>Captcha helps stop spam.</b>]]></info_message>
                <container_css><![CDATA[]]></container_css>
            </contact_us>
            <account_registration>
                <guest_enabled>1</guest_enabled>
                <template_enabled>1</template_enabled>
                <theme>magento_standard</theme>
                <info_message><![CDATA[<b>Captcha helps stop spam.</b>]]></info_message>
                <container_css><![CDATA[]]></container_css>
            </account_registration>
            <product_review>
                <guest_enabled>1</guest_enabled>
                <customer_enabled>0</customer_enabled>
                <template_enabled>1</template_enabled>
                <theme>magento_inline</theme>
                <info_message><![CDATA[<b>Captcha helps stop spam.</b>]]></info_message>
                <container_css><![CDATA[margin-top: 20px;]]></container_css>
            </product_review>
            <email_friend>
                <guest_enabled>1</guest_enabled>
                <customer_enabled>0</customer_enabled>
                <template_enabled>1</template_enabled>
                <theme>magento_standard</theme>
                <info_message><![CDATA[<b>Captcha helps stop spam.</b>]]></info_message>
                <container_css><![CDATA[margin-top: 20px;]]></container_css>
            </email_friend>
            <on>
                <guest_enabled>1</guest_enabled>
                <customer_enabled>1</customer_enabled>
            </on>
        </ewspamprotection>
    </default>
    <extendware>
		<override>
			<model>
				<mage_core_layout_update_ewcore_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Core_Model_Layout_Update</class></search>
           			<replace>
           				<class>Extendware_EWCore_Model_Override_Mage_Core_Layout_Update</class>
            			<order>0</order>
           			</replace>
           			<conditions>
           				<extension_exists>
	           				<ignore>1</ignore>
           				</extension_exists>
           			</conditions>
           		</mage_core_layout_update_ewcore_override>
           	</model>
			<controller>
				<mage_core_controller_varient_router_standard_ewcore_override>
           			<mode>extendware</mode>
					<search><class>Mage_Core_Controller_Varien_Router_Standard</class></search>
					<replace>
						<class>Extendware_EWCore_Controller_Override_Mage_Core_Varien_Router_Standard</class>
						<order>0</order>
					</replace>
					<conditions>
           				<extension_exists>
	           				<ignore>1</ignore>
           				</extension_exists>
           			</conditions>
				</mage_core_controller_varient_router_standard_ewcore_override>
				<mage_contacts_indexcontroller_ewspamprotection_override>
					<mode>extendware</mode>
					<search><class>Mage_Contacts_IndexController</class></search>
					<replace>
						<class>Extendware_EWSpamProtection_Override_Mage_Contacts_IndexController</class>
						<order>100</order>
					</replace>
				</mage_contacts_indexcontroller_ewspamprotection_override>
				<mage_customer_accountcontroller_ewspamprotection_override>
					<mode>extendware</mode>
					<search><class>Mage_Customer_AccountController</class></search>
					<replace>
						<class>Extendware_EWSpamProtection_Override_Mage_Customer_AccountController</class>
						<order>100</order>
					</replace>
				</mage_customer_accountcontroller_ewspamprotection_override>
				<mage_review_productcontroller_ewspamprotection_override>
					<mode>extendware</mode>
					<search><class>Mage_Review_ProductController</class></search>
					<replace>
						<class>Extendware_EWSpamProtection_Override_Mage_Review_ProductController</class>
						<order>100</order>
					</replace>
				</mage_review_productcontroller_ewspamprotection_override>
				<mage_sendfriend_productcontroller_ewspamprotection_override>
					<mode>extendware</mode>
					<search><class>Mage_Sendfriend_ProductController</class></search>
					<replace>
						<class>Extendware_EWSpamProtection_Override_Mage_Sendfriend_ProductController</class>
						<order>100</order>
					</replace>
				</mage_sendfriend_productcontroller_ewspamprotection_override>
			</controller>
	   </override>
	</extendware>
</config>
