<?xml version="1.0"?>
<config>
	<modules>
		<Trollweb_Consignor>
			<version>1.0.5</version>
		</Trollweb_Consignor>
	</modules>
	<frontend>
		<routers>
			<consignor>
				<use>standard</use>
				<args>
					<module>Trollweb_Consignor</module>
					<frontName>consignor</frontName>
				</args>
			</consignor>
		</routers>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<trollweb_consignor>
											<title>Consignor</title>
										</trollweb_consignor>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl> 
	</adminhtml>
	<global>
		<helpers>
			<consignor><class>Trollweb_Consignor_Helper</class></consignor>
		</helpers>
		<models>
			<consignor><class>Trollweb_Consignor_Model</class></consignor>
		</models>
	</global>
    
</config>