<?xml version="1.0"?>
<config>
  <modules>
    <Nordweb_GetAllFSProducts>
      <version>0.0.1</version>
    </Nordweb_GetAllFSProducts>
  </modules>
  <global>
    <blocks>
      <nordweb_getallfsproducts>
        <class>Nordweb_GetAllFSProducts_Block</class>
      </nordweb_getallfsproducts>
    </blocks>
    <helpers>
      <getallfsproducts>
        <class>Nordweb_GetAllFSProducts_Helper</class>
      </getallfsproducts>
    </helpers>
    <models>
      <nordweb_getallfsproducts>
        <class>Nordweb_GetAllFSProducts_Model</class>
      </nordweb_getallfsproducts>
    </models>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <nordweb_getallfsproducts before="Mage_Adminhtml">Nordweb_GetAllFSProducts_Adminhtml</nordweb_getallfsproducts>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <events>
      <adminhtml_block_html_before>
        <observers>
          <nordweb_getallfsproducts>
            <type>model</type>
            <class>Nordweb_GetAllFSProducts_Model_Observer</class>
            <method>getAllFSProducts</method>
          </nordweb_getallfsproducts>
        </observers>
      </adminhtml_block_html_before>
    </events>
  </adminhtml>
</config>