<?xml version="1.0"?>
<config>
  <modules>
    <Nordweb_AddFSProducts>
      <version>0.0.1</version>
    </Nordweb_AddFSProducts>
  </modules>
  <global>
    <blocks>
      <nordweb_addfsproducts>
        <class>Nordweb_AddFSProducts_Block</class>
      </nordweb_addfsproducts>
    </blocks>
    <helpers>
      <addfsproducts>
        <class>Nordweb_AddFSProducts_Helper</class>
      </addfsproducts>
    </helpers>
    <models>
      <nordweb_addfsproducts>
        <class>Nordweb_AddFSProducts_Model</class>
      </nordweb_addfsproducts>
    </models>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <nordweb_addfsproducts before="Mage_Adminhtml">Nordweb_AddFSProducts_Adminhtml</nordweb_addfsproducts>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <events>
      <adminhtml_block_html_before>
        <observers>
          <nordweb_addfsproducts>
            <type>model</type>
            <class>Nordweb_AddFSProducts_Model_Observer</class>
            <method>addFSProducts</method>
          </nordweb_addfsproducts>
        </observers>
      </adminhtml_block_html_before>
    </events>
  </adminhtml>
</config>