<?xml version="1.0"?>
<config>
    <modules>
        <Pingbull_TagManager>
            <version>0.1.0</version>
        </Pingbull_TagManager>
    </modules>
    <frontend>
        <layout>
            <updates>
                <tagmanager>
                    <file>tagmanager.xml</file>
                </tagmanager>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <tagmanager>
                <class>Pingbull_TagManager_Helper</class>
            </tagmanager>
        </helpers>
        <blocks>
            <tagmanager>
                <class>Pingbull_TagManager_Block</class>
            </tagmanager>
        </blocks>
    </global>
    <admin>
        <routers>
            <tagmanager>
                <use>admin</use>
                <args>
                    <module>Pingbull_TagManager</module>
                    <frontName>tagmanager</frontName>
                </args>
            </tagmanager>
        </routers>
    </admin>
</config>